/* Sección Acerca de */
.acerca {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
}

/* Foto + texto alineado */
.acerca-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Texto descriptivo */
.info-texto h1 {
    font-size: 2em;
    color: #222;
    margin-bottom: 10px;
}

.info-texto p {
    font-size: 1.1em;
    color: black;
    max-width: 700px;
}

/* Currículum */
.curriculum h2 {
    font-size: 1.8em;
    color: #222;
    margin-bottom: 20px;
}

.curriculum img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/*Boton del porfolio */
.boton-portfolio {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.boton-portfolio:hover {
    background-color: gray;
}
