#header {
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.nav > li {
    position: relative;
    margin: 5px;
    outline: none;
}

.nav > li > a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    background-color: #333;
    transition: all 0.3s ease;
    border-radius: 5px;
    outline: auto;
    outline-color: #333;
}
.nav > li > a:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
}